@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"); }
