body {
  font-family: "Raleway", sans-serif !important;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  width: 100%; }

.hidden {
  display: none; }

.header {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  box-shadow: 0 0 0 880px rgba(48, 60, 99, 0.7) inset; }

.header_wrap {
  display: table;
  width: 100%;
  height: 100%;
  padding: 70px 0; }
  .header_wrap .header_descr {
    display: table-row; }
    .header_wrap .header_descr .header_center {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .header_wrap .header_descr .header_center h1 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        margin: 10px 10px; }
      .header_wrap .header_descr .header_center .text {
        margin: 0;
        display: inline-block;
        width: 60%;
        font-size: 15px; }
  .header_wrap .header_block {
    width: 90%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 55px; }
    .header_wrap .header_block .block_item {
      width: 240px;
      padding: 25px 0;
      border: 1px solid #fff;
      margin-right: 30px;
      position: relative; }
      .header_wrap .header_block .block_item .title {
        font-size: 36px;
        font-weight: 700;
        padding-top: 10px; }
      .header_wrap .header_block .block_item p {
        margin: 0; }
      .header_wrap .header_block .block_item i {
        font-size: 36px;
        position: absolute;
        left: 100px;
        top: -15px;
        z-index: 1000;
        background-color: rgba(48, 60, 99, 0.9); }

.menu_wrap {
  text-align: right;
  border-bottom: 2px solid #adadad;
  padding: 10px 15px; }
  .menu_wrap ul {
    list-style-type: none; }
    .menu_wrap ul li {
      display: inline-block;
      margin-right: 15px; }
      .menu_wrap ul li a {
        font-size: 16px;
        text-decoration: none;
        padding: 5px 10px;
        cursor: pointer;
        -webkit-transition: all 0.4s;
                transition: all 0.4s;
        font-weight: 600; }

.about {
  margin: 80px 0; }
  .about .studio {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px; }
  .about .decor {
    position: relative;
    font-size: 16px; }
    .about .decor p {
      z-index: 50;
      position: relative;
      line-height: 1.6;
      margin-left: 40px;
      color: #4e4e4e; }
    .about .decor:after {
      content: "we";
      font-size: 23.75em;
      font-weight: 700;
      color: #f3f3f3;
      position: absolute;
      z-index: -5;
      top: -210px; }

.block2 {
  margin-top: 70px;
  font-size: 14px;
  position: relative; }

.block2_wrap {
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  padding: 4%;
  height: auto; }
  .block2_wrap:hover {
    background-color: #f6ae48;
    color: #fff; }
    .block2_wrap:hover p {
      color: #fff; }
  .block2_wrap .block2_icon {
    display: inline-block; }
    .block2_wrap .block2_icon i {
      font-size: 32px;
      margin-top: 5px;
      color: #00b9e7; }
  .block2_wrap h2 {
    font-size: 16px;
    margin-top: 20px; }
  .block2_wrap p {
    line-height: 1.5;
    color: #4e4e4e; }
  .block2_wrap .next {
    display: block;
    font-size: 28px;
    position: absolute;
    bottom: 0;
    right: 0; }
    .block2_wrap .next a {
      color: #00b9e7;
      margin: 30px 35px 20px 0; }
      .block2_wrap .next a:hover {
        color: #fff; }

.credo {
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  box-shadow: 0 0 0 450px rgba(48, 60, 99, 0.7) inset;
  width: 100%;
  height: auto;
  color: #fff;
  height: auto;
  position: relative; }
  .credo .credo_wrap {
    margin-top: 100px;
    text-align: center;
    padding: 8% 0;
    box-sizing: border-box; }
    .credo .credo_wrap .credo_title {
      font-size: 20px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: bold; }
      .credo .credo_wrap .credo_title h2 {
        margin-bottom: 20px; }
    .credo .credo_wrap .credo_descr {
      display: inline-block;
      width: 80%;
      margin: 0 0 20px 0;
      z-index: 99; }
  .credo .dev {
    position: absolute;
    background-color: #f6ae48;
    top: 310px;
    height: 300px;
    width: 400px;
    z-index: 0;
    padding: 10px; }
    .credo .dev h3 {
      color: #fff;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      margin-top: 50px; }

.develop {
  margin-top: 90px; }
  .develop .dev_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .develop .dev_block {
    -webkit-flex-basis: 280px;
        -ms-flex-preferred-size: 280px;
            flex-basis: 280px;
    border: 1px solid #000;
    z-index: 10;
    padding: 15px;
    margin-right: 20px;
    background-color: #f3f3f3;
    color: #fff; }
    .develop .dev_block .dev_title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      margin-top: 15px;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px; }
  .develop .bcg_1,
  .develop .bcg_2,
  .develop .bcg_3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    box-shadow: 0 0 0 450px rgba(14, 15, 17, 0.65) inset;
    width: 100%; }
  .develop .bcg_1 {
    background-image: url("../img/4.jpg"); }
  .develop .bcg_2 {
    background-image: url("../img/13.jpg"); }
  .develop .bcg_3 {
    background-image: url("../img/4.jpg"); }
