@import "bourbon/bourbon"

body
	font-family: "Raleway", sans-serif !important
	font-weight: normal
	min-width: 320px
	position: relative
	width: 100%

.hidden
	display: none

.header
	background-image: url("../img/main.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-color: #fff
	box-shadow: 0 0 0 880px rgba(48, 60, 99, .70) inset
.header_wrap
	display: table
	width: 100%
	height: 100%
	padding: 70px 0
	.header_descr
		display: table-row
		.header_center
			display: table-cell
			text-align: center
			vertical-align: middle
			h1
				text-transform: uppercase
				display: inline-block
				font-size: 30px
				font-weight: bold
				margin: 10px 10px
			.text
				margin: 0
				display: inline-block
				width: 60%
				font-size: 15px
	.header_block
		width: 90%
		display: inline-flex
		justify-content: center
		flex-wrap: wrap
		margin-top: 55px
		.block_item
			width: 240px
			padding: 25px 0
			border: 1px solid #fff
			margin-right: 30px
			position: relative

			//&:last-child
				//margin-right: 0
			.title
				font-size: 36px
				font-weight: 700
				padding-top: 10px
			p
				margin: 0
			i
				font-size: 36px
				position: absolute
				left: 100px
				top: -15px
				z-index: 1000
				background-color: rgba(48, 60, 99, .9)
.menu_wrap
	text-align: right
	border-bottom: 2px solid #adadad
	padding: 10px 15px
	ul
		list-style-type: none
		li
			display: inline-block
			margin-right: 15px
			a
				font-size: 16px
				text-decoration: none
				padding: 5px 10px
				cursor: pointer
				transition: all .4s
				font-weight: 600
.about
	margin: 80px 0
	.studio
		text-align: center
		font-size: 24px
		font-weight: 600
		padding-top: 15px
	.decor
		position: relative
		font-size: 16px
		p
			z-index: 50
			position: relative
			line-height: 1.6
			margin-left: 40px
			color: #4e4e4e
		&:after
			content: "we"
			font-size: em(380px)
			font-weight: 700
			color: #f3f3f3
			position: absolute
			z-index: -5
			top: -210px

.block2
	margin-top: 70px
	font-size: 14px
	position: relative

.block2_wrap
	transition: all .5s
	padding: 4%
	height: auto
	&:hover
		background-color: #f6ae48
		color: #fff
		p
			color: #fff
	.block2_icon
		display: inline-block
		i
			font-size: 32px
			margin-top: 5px
			color: #00b9e7
	h2
		font-size: 16px
		margin-top: 20px
	p
		line-height: 1.5
		color: #4e4e4e
	.next
		display: block
		font-size: 28px
		
		position: absolute
		bottom: 0
		right: 0
		a
			color: #00b9e7
			margin: 30px 35px 20px 0
			&:hover
				color: #fff
.credo
	background-image: url("../img/main.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-color: #fff
	box-shadow: 0 0 0 450px rgba(48, 60, 99, .70) inset
	width: 100%
	height: auto
	color: #fff
	height: auto
	position: relative
	.credo_wrap
		margin-top: 100px
		text-align: center
		padding: 8% 0
		box-sizing: border-box
		.credo_title
			font-size: 20px
			text-transform: uppercase
			display: inline-block
			font-weight: bold
			h2
				margin-bottom: 20px
		.credo_descr
			display: inline-block
			width: 80%
			margin: 0 0 20px 0
			z-index: 99
	.dev
		position: absolute
		background-color: #f6ae48
		top: 310px
		height: 300px
		width: 400px
		z-index: 0
		padding: 10px
		h3
			color: #fff
			text-align: center
			font-size: 26px
			font-weight: 700
			margin-top: 50px
.develop
	margin-top: 90px
	.dev_wrap
		display: flex
		flex-wrap: wrap
		justify-content: center
	.dev_block
		flex-basis: 280px
		border: 1px solid #000
		z-index: 10
		padding: 15px
		margin-right: 20px
		background-color: #f3f3f3
		color: #fff
		.dev_title
			text-transform: uppercase
			font-weight: 700
			font-size: 24px
			margin-top: 15px
			border-bottom: 1px solid #fff
			padding-bottom: 10px
	.bcg_1,
	.bcg_2,
	.bcg_3
		background-repeat: no-repeat
		background-size: cover
		background-color: #fff
		box-shadow: 0 0 0 450px rgba(14, 15, 17, .65) inset
		width: 100%
	.bcg_1
		background-image: url("../img/4.jpg")
	.bcg_2
		background-image: url("../img/13.jpg")
	.bcg_3
		background-image: url("../img/4.jpg")



